# === ENV ===
.env

# === ZIP ===
.zip
*.zip
CDSD_Concepteur_Developpeur_Sciences_Donnees/Dossiers_zips/
Dossiers_zip/

# === MLflow ===
mlruns/

# === secrets ===
secrets.sh

# === Deep Learning Models (.h5 / .keras) ===
*.h5
*.keras

# === Project Data (too heavy for Git) ===
src_pictures/

