# Core
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

# Deep Learning
tensorflow==2.17.1
keras==3.3.3
ml-dtypes==0.4.0
h5py==3.11.0

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# App
streamlit==1.37.1
Pillow==10.4.0

# TensorBoard
tensorboard==2.17.1

# Utils
scikit-learn==1.5.1
protobuf==4.25.3
rich==13.7.1
packaging==24.1
